<style>
.abou h5{
    width: 95%;
    height: 40vh;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 150;
    text-align: center;
    justify-content: center;
    
    
    
    
}
.yy{
    justify-content: center;
    text-align: center;
}
</style>


{% extends "core/base.html" %}

{% block content %}


	<h1 class="yy">This is our about Page</h1>
<div class="abou">
    <h1>Company Overview</h1>
    <br>
    <h5>Electro master is largest online Shopping Website. We launched in July 2017 and our mission is to become the engine of commerce and trade in Africa.

        We serve a retail customer base that continues to grow exponentially, offering products that span various categories including Home Appliances, Commercial Bakery Equipments, Phones, Computers, Kitchen Appliances and much more.
        
        Our range of services are designed to ensure optimum levels of convenience and customer satisfaction with the retail process; these services include our lowest price guarantee, 7-day free return policy*, order delivery-tracking, dedicated customer service support and many other premium services.
        
        As we continue to expand the mall, our scope of offerings will increase in variety, simplicity and convenience; join us and enjoy the increasing benefits.
        
        We are highly customer-centric and are committed towards finding innovative ways of improving our customers’ shopping experience with us; so give us some feedback on info@dombelo.com. For any press related questions, kindly send us an email at press@dombelo.com.</h5>
</div>
{% endblock %}
		