<style>
.uu{
    font-size: 15px;
    text-align: center;
}
.div1{
    border: 5px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}
</style>
{% extends "core/base.html" %}

{% block content %}

    <h1>Electro. Contact Details</h1>
    <br>
    <br>

    <h3 class="uu">It's great to see you here. If you have a question or something interesting to say, please contact us using <br>
         the information below, and one of us will respond as soon as possible.</h3>
    <div class="div1">
    <p>
        Contact Us <br>
        Phone  <br>
        +263780916055 <br>

        Whatsapp  <br>
        +263780916055   
    </p>
    <p>
        Email Us <br>
    sales@electromaster.co.zw <br>
    info@electromaster.co.zw
    </p>
    <br>
    <br>
    </div>
    <div>
    <h3>Send us a message</h3>
    </div>

{% endblock %}