.dis{
    display: flex;
    justify-content: space-between;
    width: 98%;
    
  }
.image{
    border-radius: 100px;
    border: 10px;
    width: 200px;
    height: 200px;
}
.ff{
    margin-left: 10px;
    text-align: center;
}
.btn{
    background-color: rgb(235, 152, 152);
    color: white;
}