.clean{
    border: 1px solid rgb(93, 85, 87);
    box-shadow: 2px 2px;
    width: 70%;
    height: 90%;
    margin-left: 200px;
    padding: 10px;
  }

.drop-btn{
    background-color: black;
    
}
.drop-item-cont{
    padding-top: 20px;
    z-index: 900;
    position: absolute;
    display: none;
}
.drop-item{
    background-color: white;
    padding: 20px;
    margin-top: -15px;
    margin-left: 60px;
    
}
.drop-btn:hover + .drop-item-cont{
    display: block;
}
.drop-item-cont:hover{
    display: block;
}


